@{
    Layout = null;
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/Css/form.css" rel="stylesheet" />


<div class="container">
    <form id="contact" action="" method="post">
        @using (Html.BeginForm("R", "F"))
        {
            <center>
                <h2 style="color: #F96;">KodFest Etkinlikleri Mail Litesi</h2>

                <p style="font-size:10.5px;"><b>KodFest etkinliklerinden haberdar olmak için mail listeine kayıt olun.</b></p>
                <a style="font-size: 15px;" href="http://kodfest.com/" target="_blank"><p>kodfest.com</p></a>
                <a style="font-size: 15px;" href="https://twitter.com/kodfest" target="_blank"><p>twitter.com/kodfest</p></a>
                <br />
            </center>
            <fieldset>
                <input placeholder="İsim Soyisim" type="text" tabindex="1" required name="Name">
            </fieldset>
            <fieldset>
                <input placeholder="Telefon Numaranız" type="tel" tabindex="3" required name="Phone">
            </fieldset>
            <fieldset>
                <input placeholder="Mail Adresiniz" type="email" tabindex="5" required name="Email">
            </fieldset>
            @*<fieldset>
                <textarea placeholder="Öneriler..." tabindex="5" name="Tender"></textarea>
            </fieldset>*@

                Random r = new Random();
                int first = r.Next(1, 9);
                int second = r.Next(1, 9);
            
            <input type="hidden" value="@first" name="first"/>
            <input type="hidden" value="@second" name="second" />

                <fieldset>
                    <input placeholder="@first + @second = ?" type="text" tabindex="7" required name="top">
                </fieldset>

            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Gönderiliyor">Kayıt Ol</button>
            </fieldset>
            
        }
    </form>
</div>

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>
